html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;}
body {
	height: 100%;
	font: 14px/24px Arial, Tahoma, sans-serif;
	background-color: #ebebeb;
}
ol, ul {list-style: none;}
* {
	margin: 0;
	padding: 0;
	outline: none;
}

a, a:hover {text-decoration: none;}

@font-face {
	font-family: 'NexaHeavy';
	src: url('../fonts/NexaHeavy.eot');
	src: url('../fonts/NexaHeavy.eot') format('embedded-opentype'),
	url('../fonts/NexaHeavy.woff2') format('woff2'),
	url('../fonts/NexaHeavy.woff') format('woff'),
	url('../fonts/NexaHeavy.ttf') format('truetype'),
	url('../fonts/NexaHeavy.svg#NexaHeavy') format('svg');
}

@font-face {
	font-family: 'NexaLight';
	src: url('../fonts/NexaLight.eot');
	src: url('../fonts/NexaLight.eot') format('embedded-opentype'),
	url('../fonts/NexaLight.woff2') format('woff2'),
	url('../fonts/NexaLight.woff') format('woff'),
	url('../fonts/NexaLight.ttf') format('truetype'),
	url('../fonts/NexaLight.svg#NexaLight') format('svg');
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}

.right {float:right;}

.hidden{
	display: none;
}
.fullwidth{
	width: 100%;
	z-index: 999;
}
.wrapper{
	min-width: 960px;
	max-width: 1680px;
	margin: 0 auto;
}

/*----------navigation section ----------*/

nav .titl{
	color: #ca3e38;
	float: left;
	margin: 37px 0px 43px 20px;
	width: 250px;
}
nav{
	top: 0;
	position: fixed;
	background: url(../img/bg.png) repeat-x;
	display: block; 
	background-position: top center;
	width: 100%;
	height: 100px;
}
nav .logo{
	margin: 8px 10px 8px 130px ;
	float: left;
}
nav  ul  {
	display: block;
	float: left;
	list-style: none;
}
nav ul li.menu{
	display: inline-block;
	margin: 37px 0px 43px 0px;
	padding-left: 69px;
}
nav li.menu> a{
	text-decoration: none;
	color: #282828;
	padding-bottom: 17px;	
	font-size: 24px;
	padding:10px 10px 30px 10px;
	background: url(../img/border.png) no-repeat center 50px;
}
nav li.menu> a:hover{
	color: #810500;
}
a.submenu{
	position: absolute;
	display: none;
}

/* немного не правтльноli.menu:hover{
		list-style: none;
		display: block;
		width: 188px;
		background: url(../img/bg.png) repeat-x; */

	}
/* НЕ ЗНАЮ НАДО ЛИ ЭТО
 nav > li:hover > ul.submenu { 
    display: block;
}
*/

/* про меню выпада.щее ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

*/

.emp{
	height: 100px;
	width: 960px;
}	
/*----------/navigation section ----------*/

/*----------header section ----------*/

header {
	background: url(../img/fon.jpg) no-repeat center;
	height: 830px;
	background-size: 100% !important; 	
	padding-bottom: 100px;
}
.bigp{
	margin-top: 100px;
	padding: 127px 0px 80px 127px;
	color: #fff;
	font-size: 100px;	
	overflow: hidden;
}
.Toyota{
	padding: 20px; 
	font-size: 100px;
	color: #fe372f; 
}
.the_dream{
	margin-top: 83px;
	padding-left: 100px;
	display: block;
}
.bigp>.join{
	font-size: 20px;
}
.join {
    display: block;
    float: right;
	margin-top: -140px;
    padding: 20px;
    background-color: #CEB6C5;
    border: 2px solid #fff;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
}
.join li{
	display: inline-block;
	padding-left: 10px;
	margin: 0px 0px 20px 25px;
}
.join p{
	padding-left: 61px;
	padding-bottom: 20px;
	font-size: 20px;
}
.join a{
	color: #fff;
}
.join a:hover{
	color: #000;
}
.join i:hover{
	color: #810500;
}
.tell{	
	padding-left: 35px;	
	font-size: 23px;
}
.tell i,.tell i:hover{
	color:#FFFFFF;
}
.HH1 {	
	color: #810500;
	font-size: 2em;
}
.row1{	
	margin-left: 350px;
	width: 450px;
	display: block;
	float: left;
	clear: both;
}
.row1> ul>li{
	list-style: square  ;
	color: #fff;
}
.HH2 {
	color: #810500;
	font-size: 1.7em;
	padding-bottom: 20px;	
}
.row2{
	margin-left: 50px;
	width: 450px;
	display: block;
	float: left;	
}
.row2> ol>li{
	list-style: decimal;
	color: #ff0a00;
}
.licolornum{
	color: #fff;
}


/*----------/header section ----------*/

/*----------slider  ----------*/
.slider{
	width:100%;
	overflow: hidden;
}

/*----------/slider  ----------*/


/*----------popup effect  ----------*/

#parent_popup {
	background: #000;
	height: 100%;
	opacity: 0.9;
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
	left: 0;
}
#popup {
	background-color: #00f;
	height: 500px;
	position: fixed;
	top: 250px;
	left: 40%;
	color: #f00; 
	width: 300px;
}
/*----------/popupe ffect   ----------*/

.section{
	background-color: #fff;
	position: relative;
	overflow: hidden;
}

.testdrive{
	margin: 50px 0px 80px 370px;
	display: inline-block;
	width: 280px;	
}
.testdrive h2{
	font-size: 2em;
	padding: 24px;
	color: red;
}
.testdrive a:hover{
	color: #3918A2;
	font-size: 1.21em;
}
.otz{
	margin-left: 200px;
	display: inline-block;
	width:550px;
}
.otz h2{
	font-size: 2em;
	padding: 24px;
	color: red;
}

/*----------/header section ----------*/
/*----------footer section ----------*/
footer{
	height: 40px;
	width: 100%;
	background-color: #000;	
}
/*----------/footer section ----------*/