html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;}
body {
	height: 100%;
	font: 14px/24px Arial, Tahoma, sans-serif;
	background-color: #ebebeb;
}
ol, ul {list-style: none;}
* {
	margin: 0;
	padding: 0;
	outline: none;
}

a, a:hover {text-decoration: none;}

@font-face {
	font-family: 'NexaHeavy';
	src: url('../fonts/NexaHeavy.eot');
	src: url('../fonts/NexaHeavy.eot') format('embedded-opentype'),
	url('../fonts/NexaHeavy.woff2') format('woff2'),
	url('../fonts/NexaHeavy.woff') format('woff'),
	url('../fonts/NexaHeavy.ttf') format('truetype'),
	url('../fonts/NexaHeavy.svg#NexaHeavy') format('svg');
}

@font-face {
	font-family: 'NexaLight';
	src: url('../fonts/NexaLight.eot');
	src: url('../fonts/NexaLight.eot') format('embedded-opentype'),
	url('../fonts/NexaLight.woff2') format('woff2'),
	url('../fonts/NexaLight.woff') format('woff'),
	url('../fonts/NexaLight.ttf') format('truetype'),
	url('../fonts/NexaLight.svg#NexaLight') format('svg');
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}

/*.container {
	
	max-width: 960px;

	margin: 0 auto;
	padding: 0 10px;
	}*/



	/*ПОГНАЛИ*/


	.fullwidth{
		width: 100%;
	}
	.wrapper{
		min-width: 960px;
		max-width: 1680px;

		margin: 0 auto;


	}

	nav .titl{
		color: #ca3e38;
		float: left;
		margin: 37px 0px 0px 20px;
		width: 150px;

	}

	nav{
		top: 0;
		position: fixed;
		background: url(../img/bg.png) repeat-x;
		display: block; 
		background-position: top center;
		width: 100%;
		height: 100px;
		z-index: 1;

	}


	nav .logo{
		margin: 8px 10px 0px 130px ;
		float: left;


	}
	nav  ul  {
		display: block;
		float: left;
		list-style: none;
	}

	nav ul li.menu{
		display: inline-block;
		margin: 37px 0px 0px 0px;
		padding-left: 69px;
		font-size: 

	}

	nav li.menu> a{
		text-decoration: none;
		color: #282828;
		padding-bottom: 17px;	
		font-size: 24px;

	}

	nav li.menu> a:hover{
		color: #810500;
	}


	nav li.menu> a{
		padding:10px 10px 30px 10px;
		background: url(../img/border.png) no-repeat center 50px;

	}

	a.submenu{
		position: absolute;
		display: none;
	}
/* немного не правтльноli.menu:hover{
		list-style: none;
		display: block;
		width: 188px;
		background: url(../img/bg.png) repeat-x; *

	}
/* НЕ ЗНАЮ НАДО ЛИ ЭТО
 nav > li:hover > ul.submenu { 
    display: block;
}
*/

/* про меню выпада.щее ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

*/
.emp{
	position: relative;
	height: 100px;
	width: 960px;
}	
header {
	background: url(../img/fon.jpg) no-repeat center;
	height: 830px;
	/*background-size: 100% !important; */
	position: relative;	
}
.bigp {
	margin: 124px 0px 70px 93px;
	color: #fff;
	font-size: 100px;
	font-weight: 700;
	display: inline-block;
}  
.Toyota{
	padding: 20px; 
	font-size: 100px;
	color: #fe372f; 
}
.the_dream{
	margin-top: 97px;
	padding-left: 100px;
	display: block;
}
.bigp>.join{
	font-size: 20px;
}
.join {    
	display: inline-block;
	position:relative;
	float: right;
	width: 397px;
	height: 80px;
	margin-top: 80px;
	margin-bottom: 20px;
	padding: 20px;
	border: 2px solid white;
	border-right:none; 
	border-radius: 10px 0px 0px 10px;
	vertical-align: top;
}



.HH1 {
	color: #810500;
	font-size: 2em;
}
.HH2 {
	color: #810500;
	font-size: 1.5em;
}
.stylish{
	list-style-type: decimal;
	
	
}
.llist{
	display: inline-block;
	list-style: square;
	width:460px;
	margin-left: 330px;


}
.rlist{
	display: inline-block;
	margin-left: 50px;
	width:460px;
}
/*
.nav {
	background: linear-gradient(to bottom, #fff, #f1f2f2); /* Градиент */
	border: 1px solid #999; /* Параметры рамки */
	padding: 0 5px; /* Поля */
	font: 14px Arial, sans-serif; /* Параметры шрифта */
	box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Тень под меню */
/*}
.menu li {
	display: inline-block; /* Выстраиваем по горизонтали */
	border-right: 1px solid #fff; /* Белая линия справа */
/*}
.menu a {
	text-decoration: none; /* Убираем подчёркивание */
	color: #4c4c4c; /* Цвет ссылок */
	display: block; /* Блочные ссылки */
	padding: 10px 15px; /* Поля */
	border-right: 1px solid #d8d8d8; /* Серая линия справа */
/*}
.menu a:hover { color: #006cc9; }
*/